<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
	<rewrite>
		 <rules>
			 <rule name="HTTPS force" enabled="true" stopProcessing="true">
				 <match url="(.*)" />
				 <conditions>
				 <add input="{HTTPS}" pattern="^OFF$" />
				 </conditions>
				 <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
			 </rule>
		 </rules>
	 </rewrite>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath=".\gamebox.exe" >
			  <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
              </environmentVariables>
		</aspNetCore>
		<modules>
            <remove name="WebDAVModule" />
        </modules>
    </system.webServer>
</configuration>