{{template "icp/head" }}
<link rel="stylesheet" href="../assets/css/blackjack.css"/>
<title>BlackJack</title>
</head>
<body>
{{template "icp/navbar" .}}

<div class="gamescience">
    <div class="pack casino"></div>

    <div class="deck"></div>

    <div class="pack player-hand"></div>

    <div class="control clearfix">
        <div class="control-wrap">
            <div class="wager">
                <div class="bank" title="Your money">$<span></span></div>
                <div class="bet">
                    Bet
                    <input
                            title="Yukarı/Assagi oklarıyla bahsini belirle"
                            type="number"
                            name="quantity"
                            min="5"
                            max="100"
                            step="5"
                            value="10"
                            class="bet-val"
                    />
                </div>
            </div>
            <div class="actions">
            <span class="deal-btn">
              <button class="btn">
                Anlaşma
              </button>
              <input
                      type="checkbox"
                      class="autodeal"
              />
            </span>
            <button
                    class="btn stand-btn"
                    disabled
            >
                Kal
            </button>
            <button
                    class="btn hit-btn"
                    disabled
            >
                Kart Çek
            </button>
        </div>
    </div>
</div>
</div>
<script
        type="text/javascript"
        src="http://code.jquery.com/jquery-1.7.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="../assets/js/blackjack.js"></script>
</body>
</html>
