<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../assets/css/dashboard.css" />
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dash-Board</title>
    
  </head>
  <div class="RESNAVBAR">
    <header class="top">

      <div class="logo">
        <a href="index.html"> <img src="../assets/logo/icons8-porsche-911-old-50.png" alt=""> Cars</a>
      </div>
      <nav class="top-nav">

        <ul class="navlink">
          <li class="mor"><a href="index.html" style=" color:rgb(133, 0, 133);">Anasayfa</a></li>
          <li class="pembe"><a href="demo.html">Oyunlar</a></li>
          <li class="yesil"><a href="iletisim.html">İletişim</a></li>
          <li class="sari"><a href="hakkımızda.html">Hakkımızda</a></li>
          <li><div class="login">
        <button type="button" class="btn btn-light">Giris</button>
        <button type="button" class="btn btn-light">Kayıt Ol</button>
        </div></li>
        </ul>
        
      </nav>
     
      
      <div class="menu-toggle"></div>
  </div>
  </header>
<div>
  <body>
    <section>
      <!--for demo wrap-->
      <h1>Dash-Board</h1>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Code</th>
              <th>Company</th>
              <th>Price</th>
              <th>Change</th>
              <th>Change %</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td>AAC</td>
              <td>AUSTRALIAN COMPANY</td>
              <td>$1.38</td>
              <td>+2.01</td>
              <td>-0.36%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Code</th>
              <th>Company</th>
              <th>Price</th>
              <th>Change</th>
              <th>Change %</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td>AAC</td>
              <td>AUSTRALIAN COMPANY</td>
              <td>$1.38</td>
              <td>+2.01</td>
              <td>-0.36%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Code</th>
              <th>Company</th>
              <th>Price</th>
              <th>Change</th>
              <th>Change %</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td>AAC</td>
              <td>AUSTRALIAN COMPANY</td>
              <td>$1.38</td>
              <td>+2.01</td>
              <td>-0.36%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- follow me template -->
    <div class="made-with-love">
      <p>&copy; Copyright <a href="#">Game-Box</a></p>
    </div>
    <script src="../assets/js/dashboard.js"></script>
  </body>
</html>
