<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/developers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Developers</title>
</head>
<body>
<!-- NavBar -->
<header class="top ">

    <div class="logo">
        <a href="index.html"> <img src="../assets/logo/game-box-logo.png" alt=""></a>
    </div>

    <nav class="top-nav mb-5">
        <ul class="navlink">
            <li class="mor"><a href="index.html">Ana Sayfa</a></li>
            <li class="pembe"><a href="demo.html">Oyunlar</a></li>
            <li class="yesil"><a href="dashboard.html" >Leaderboards</a></li>
            <li class="sari"><a href="hakkımızda.html" style=" color:yellow">Hakkımızda</a></li>
            <ul class="giris1">
                <li><a href="login.html">
                    <button type="button" class="btn btn-light">Giriş</button>
                </a></li>
                <li><a href="signup.html">
                    <button type="button" class="btn btn-light">Kayıt Ol</button>
                </a></li>
            </ul>
        </ul>
    </nav>
    <div class="giris">
        <ul>
            <li><a href="login.html">
                <button type="button" class="btn btn-light">Giriş</button>
            </a></li>
            <li><a href="signup.html">
                <button type="button" class="btn btn-light">Kayıt Ol</button>
            </a></li>
        </ul>
    </div>

    <div class="menu-toggle"></div>

</header>


<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Team </h2>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi,
                assumenda
                dicta dolorum ea harum illum inventore iusto, laborum magni quae quaerat quisquam ratione saepe sunt
                tempore ullam, unde velit?</p>
        </div>
        <div class="row people">
            {{range $index,$deger:=.}}
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="{{$deger.Imgsrc}}">
                    <h3 class="name">{{$deger.Fullname}}</h3>
                    <p class="title">{{$deger.Duty}}</p>
                    <p class="description">{{$deger.Duty}}</p>
                    <div class="social"><a href="{{$deger.Linkın}}"><i class="fa fa-linkedin"></i></a><a
                            href="{{$deger.Gitsrc}}"><i class="fa fa-github"></i></a><a href="{{$deger.Inssrc}}"><i
                            class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            {{end}}

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.menu-toggle').click(function () {
            $('.menu-toggle').toggleClass('active')
            $('.top-nav').toggleClass('active')
            $('.giris1').toggleClass('active')

        })
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous">

</script>
</body>
</html>