{{ template "icp/head"}}
  <link rel="stylesheet" href="../assets/css/style.css" />

</head>

<body>

  {{template "icp/navbar" .}}
  <!-- NavBar -->


  <!-- NavBar End-->

  <!-- Body -->
  <section>
   
    <div class="container">
      <div class="row">
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" />
          </div>
          <div class="card__face card__face--back ">
            <div><img src="https://i.loli.net/2019/11/16/cqyJiYlRwnTeHmj.jpg" />
              <div class="play play-name">
                <p>Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a href="/game/snake"><button type="button" class="btn  ">OYNA</button></a></div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="https://i.loli.net/2019/11/16/FLnzi5Kq4tkRZSm.jpg" />
          </div>
          <div class="card__face card__face--back ">
            <div><img src="https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg" />
              <div class="play play-name">
                <p>Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a><button type="button" class="btn  ">OYNA</button></a></div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="https://i.loli.net/2019/10/18/uXF1Kx7lzELB6wf.jpg" />
          </div>
          <div class="card__face card__face--back ">
            <div><img src="https://i.loli.net/2019/11/03/RtVq2wxQYySDb8L.jpg" />
              <div class="play play-name">
                <p>Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a><button type="button" class="btn ">OYNA</button></a></div>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" />
          </div>
          <div class="card__face card__face--back ">
            <div><img src="https://i.loli.net/2019/11/16/cqyJiYlRwnTeHmj.jpg" />
              <div class="play play-name">
                <p>Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a><button type="button" class="btn ">OYNA</button></a></div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="https://i.loli.net/2019/11/16/FLnzi5Kq4tkRZSm.jpg" />
          </div>
          <div class="card__face card__face--back ">
            <div>
              <img src="https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg" />
              <div class="play play-name">
                <p>Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a><button type="button" class="btn  ">OYNA</button></a></div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="https://i.loli.net/2019/10/18/uXF1Kx7lzELB6wf.jpg" />
          </div>
          <div class="card__face card__face--back ">
            <div>
              <img src="https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg" />
              <div class="play play-name">
                <p> Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a><button type="button" class="btn ">OYNA</button></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Body End-->
  <!-- footer  -->
  {{template "icp/footer" .}}
  <!-- footer End -->

</body>

</html>