{{template "icp/head" }}
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" ,
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
</head>

<body>

  {{template "icp/navbar" .}}
  <!-- NavBar -->


  <!-- NavBar End-->

  <!-- Body -->
  <section>
   
    <div class="container">
      <div class="row">
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="../img/index/snakeStart.png" />
          </div>
          <div class="card__face card__face--back ">
            <div><img src="../img/index/realsnake.jpg" />
              <div class="play play-name">
                <p>Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a href="/game/snake"><button type="button" class="btn  ">OYNA</button></a></div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="../img/index/index5.jpg" />
          </div>
          <div class="card__face card__face--back ">
            <div><img src="../img/index/index4.jpg" />
              <div class="play play-name">
                <p>Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a><button type="button" class="btn  ">OYNA</button></a></div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card__face card__face--front">
            <img src="../img/index/index6.jpg" />
          </div>
          <div class="card__face card__face--back ">
            <div><img src="../img/index/index7.jpg" />
              <div class="play play-name">
                <p>Oyunun İsmi</p>
              </div>
              <div class="play play-bttn"><a><button type="button" class="btn ">OYNA</button></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Body End-->
  <!-- footer  -->
  {{template "icp/footer" .}}
  <!-- footer End -->

</body>

</html>