{{template "icp/head" }}

<link rel="stylesheet" href="../assets/css/navbar.css">
  <link rel="stylesheet" href="../assets/css/footer.css">  
  <link rel="stylesheet" href="../assets/css/leaderboard.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" ,
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>



<body>
  <!-- NavBar -->
  {{template "icp/navbar" .}}
  <section>
    <!-- for demo wrap -->
    <h1>Leader-Board</h1>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-dark "id="shadowBox">
            <thead>
              <tr>
                <th scope="col" >#</th>
                <th scope="col">Game1</th>
                <th scope="col">Game2</th>
                <th scope="col">Game3</th>
              </tr>
            </thead>
            <tbody>
            {{range $index,$data:=.L}}
            <tr>
              <th scope="row">{{$index}}</th>
              <td class="rainbow">{{$data.Game1}}</td>
              <td class="rainbow">{{$data.Game2}}</td>
              <td class="rainbow">{{$data.Game3}}</td>
            </tr>
            {{end}}
            </tbody>
          </table> <table class="table table-dark "id="shadowBox">
            <thead>
              <tr>
                <th scope="col" >#</th>
                <th scope="col">Game1</th>
                <th scope="col">Game2</th>
                <th scope="col">Game3</th>
              </tr>
            </thead>
            <tbody>
            {{range $index,$data:=.L}}
            <tr>
              <th scope="row">{{$index}}</th>
              <td class="rainbow">{{$data.Game1}}</td>
              <td class="rainbow">{{$data.Game2}}</td>
              <td class="rainbow">{{$data.Game3}}</td>
            </tr>
            {{end}}
            </tbody>
          </table>
          <table class="table table-dark " id="shadowBox">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Game1</th>
              <th scope="col">Game2</th>
              <th scope="col">Game3</th>
            </tr>
            </thead>
            <tbody>
            {{range $index,$data:=.L}}
            <tr>
              <th scope="row">{{$index}}</th>
              <td class="rainbow">{{$data.Game1}}</td>
              <td class="rainbow">{{$data.Game2}}</td>
              <td class="rainbow">{{$data.Game3}}</td>
            </tr>
            {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
   
  
  </section>

  <!-- Body End-->
  <!-- footer  -->
  <footer>
    <div class="foot">
      {{range $index,$data:=.D}}
      <div class="kartlar  kartlar900 ">
        <div class="resim"><img src="{{$data.Imgsrc}}" alt=""></div>
        <div class="bilgi">
          <p>{{$data.Fullname}}</p>
          <h5>{{$data.Duty}}</h5>
        </div>
        <div class="sosyal">
          <ul class="social-icons">
            <li class="social-icon">
              <a href="{{$data.Inssrc}}" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="social-icon">
              <a href="{{$data.Linkın}}" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="social-icon">
              <a href="{{$data.Gitsrc}}" target="_blank"><i class="fab fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      {{end}}
    </div>
    <div class="copy rights">
      <p> &copy; Copyright Game-Box </p>
    </div>
  </footer>

  <!-- footer End -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.menu-toggle').click(function () {
        $('.menu-toggle').toggleClass('active')
        $('.top-nav').toggleClass('active')
        $('.giris1').toggleClass('active')

      })
    })
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>

</body>

</html>