* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../background/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-body{
    padding-top: 100px;
}
.cart {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.cart {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    opacity: 0.9;
}

.cart-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}


.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.buton {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.buton:focus,
.buton:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.buton:hover,
.buton:focus {
    color: #333;
    text-decoration: none;
}
.buton:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.text-info{
    padding-left: 4em;
}
.inform{
    display: none;
}
.edit{
    cursor: pointer;
}
.delete{
    
}

.copyright {
    height: 40px;
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .copyright p{
    color: rgb(254, 254, 255);
 }