.deck {
    width: 110px;
    height: 150px;
    margin: 30px auto;
    box-shadow: 3px 3px 0 #999, -2px 0px 4px rgba(0,0,0,.3);
    border: 1px solid #999 !important;
}
.player-hand,
.casino {
    text-align: center;
    height: 150px;
    margin-top: 20px;
    position: relative;
}
.player-hand .card,
.casino .card { position: absolute }
.card.anim {
    position: absolute;
    z-index: 10;
}
.card { font-family: "Times New Roman", Times, serif }
.deck span { display: block }
.spades,
.clubs { color: #000 }
.hearts,
.diams { color: #f00 }
.pack .card.static { -webkit-animation: all .5s ease }
.control {
    padding: 10px;
    color: #fff;
    margin: 20px 0 0;
    background: #000;
}
.control-wrap {
    width: 370px;
    margin: 0 auto;
    padding: 15px;
}
.bank {
    font-weight: bold;
    float: left;
    padding: 2px;
    margin: 0 10px 0 0;
}
.bank span {
    display: inline-block;
    width: 36px;
    text-align: left;
    overflow: hidden;
}
.bet { margin: 0 10px }
.bet input {
    margin: 0 2px;
    background: black;
    border: 1px solid white;
    color: white;
    width: 50px;
    text-align: center;
}
.wager {
    width: 155px;
    float: left;
    margin: 3px;
}
.actions { width: 400px }
.actions .btn { margin: 0 5px }
button:first-letter { text-decoration: underline }
.speakballon {
    position: absolute;
    width: 200px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 999;
    opacity: .7;
    background: #fff;
}
.casino-speak {
    top: 250px;
    left: 20%;
}
.speakballon:before,
.speakballon:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
}
.casino-speak:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    top: -10px;
    left: 20px;
}
.casino-speak:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    left: 22px;
}
.player-speak {
    top: 250px;
    right: 20%;
}
.player-speak:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
    bottom: -10px;
    right: 20px;
}
.player-speak:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
    bottom: -8px;
    right: 22px;
}
.deal-btn { position: relative }
.deal-btn .btn { padding-right: 30px }
.deal-btn .autodeal {
    position: absolute;
    top: 4px;
    right: 14px;
}
.face .mark:first-child {
    position: absolute;
    top: 1px;
    left: 1px;
}
.face .mark:last-child {
    position: absolute;
    bottom: 1px;
    right: 1px;
    transform: rotate(180deg);
}
.face .mark:last-child  h2 { padding-left: 2px }
h1,
h2 {
    margin: 0;
    padding: 0;
    line-height: .9;
    width: 12px;
    text-align: center;
    text-transform: uppercase;
}
.face .mark {
    display: block;
    width: 15px;
    height: 40px;
}
.face .suit {
    width: 21px;
    height: 35px;
    text-align: center;
}
.mark h1 {
    font-size: 17px;
    letter-spacing: -2px;
}
.mark h2 {
    font-size: 20px;
    padding-left: 1px;
}
.valA .suit,
.valAone .suit {
    font-size: 100px !important;
    width: 110px;
    text-align: center;
    left: -2px;
    top: 10px;
}
.valK .suit,
.valQ .suit,
.valJ .suit {
    font-size: 40px !important;
    width: 110px;
    text-align: center;
    left: -2px;
    top: 50px;
}
.face span.suit:nth-child(n+1) {
    font-size: 30px;
    position: absolute;
}
.val2 .suit:nth-child(2) {
    top: 3px;
    left: 44px;
}
.val2 .suit:nth-child(3) {
    transform: rotate(180deg);
    top: 105px;
    left: 44px;
}
.val3 .suit:nth-child(2) {
    top: 3px;
    left: 44px;
}
.val3 .suit:nth-child(3) {
    top: 55px;
    left: 44px;
}
.val3 .suit:nth-child(4) {
    transform: rotate(180deg);
    top: 112px;
    left: 44px;
}
.val4 .suit:nth-child(2) {
    top: 3px;
    left: 20px;
}
.val4 .suit:nth-child(3) {
    top: 3px;
    left: 70px;
}
.val4 .suit:nth-child(4) {
    transform: rotate(180deg);
    top: 112px;
    left: 20px;
}
.val4 .suit:nth-child(5) {
    transform: rotate(180deg);
    top: 112px;
    left: 70px;
}
.val5 .suit:nth-child(2) {
    top: 3px;
    left: 20px;
}
.val5 .suit:nth-child(3) {
    top: 3px;
    left: 70px;
}
.val5 .suit:nth-child(4) {
    top: 56px;
    left: 44px;
}
.val5 .suit:nth-child(5) {
    transform: rotate(180deg);
    top: 112px;
    left: 70px;
}
.val5 .suit:nth-child(6) {
    transform: rotate(180deg);
    top: 112px;
    left: 20px;
}
.val6 .suit:nth-child(2) {
    top: 3px;
    left: 20px;
}
.val6 .suit:nth-child(3) {
    top: 3px;
    left: 70px;
}
.val6 .suit:nth-child(4) {
    top: 56px;
    left: 20px;
}
.val6 .suit:nth-child(5) {
    top: 56px;
    left: 70px;
}
.val6 .suit:nth-child(6) {
    transform: rotate(180deg);
    top: 112px;
    left: 20px;
}
.val6 .suit:nth-child(7) {
    transform: rotate(180deg);
    top: 112px;
    left: 70px;
}
.val7 .suit:nth-child(2) {
    top: 3px;
    left: 20px;
}
.val7 .suit:nth-child(3) {
    top: 3px;
    left: 70px;
}
.val7 .suit:nth-child(4) {
    top: 28px;
    left: 44px;
}
.val7 .suit:nth-child(5) {
    top: 56px;
    left: 20px;
}
.val7 .suit:nth-child(6) {
    top: 56px;
    left: 70px;
}
.val7 .suit:nth-child(7) {
    transform: rotate(180deg);
    top: 112px;
    left: 20px;
}
.val7 .suit:nth-child(8) {
    transform: rotate(180deg);
    top: 112px;
    left: 70px;
}
.val8 .suit:nth-child(2) {
    top: 3px;
    left: 20px;
}
.val8 .suit:nth-child(3) {
    top: 3px;
    left: 70px;
}
.val8 .suit:nth-child(4) {
    top: 28px;
    left: 44px;
}
.val8 .suit:nth-child(5) {
    top: 56px;
    left: 20px;
}
.val8 .suit:nth-child(6) {
    top: 56px;
    left: 70px;
}
.val8 .suit:nth-child(7) {
    transform: rotate(180deg);
    top: 82px;
    left: 44px;
}
.val8 .suit:nth-child(8) {
    transform: rotate(180deg);
    top: 112px;
    left: 70px;
}
.val8 .suit:nth-child(9) {
    transform: rotate(180deg);
    top: 112px;
    left: 20px;
}
.val9 .suit:nth-child(2) {
    top: 3px;
    left: 20px;
}
.val9 .suit:nth-child(3) {
    top: 3px;
    left: 70px;
}
.val9 .suit:nth-child(4) {
    top: 58px;
    left: 44px;
}
.val9 .suit:nth-child(5) {
    top: 39px;
    left: 20px;
}
.val9 .suit:nth-child(6) {
    top: 39px;
    left: 70px;
}
.val9 .suit:nth-child(7) {
    transform: rotate(180deg);
    top: 76px;
    left: 20px;
}
.val9 .suit:nth-child(8) {
    transform: rotate(180deg);
    top: 76px;
    left: 70px;
}
.val9 .suit:nth-child(9) {
    transform: rotate(180deg);
    top: 112px;
    left: 20px;
}
.val9 .suit:nth-child(10) {
    transform: rotate(180deg);
    top: 112px;
    left: 70px;
}
.val10 .suit:nth-child(2) {
    top: 3px;
    left: 20px;
}
.val10 .suit:nth-child(3) {
    top: 3px;
    left: 70px;
}
.val10 .suit:nth-child(4) {
    top: 21px;
    left: 44px;
}
.val10 .suit:nth-child(5) {
    top: 39px;
    left: 20px;
}
.val10 .suit:nth-child(6) {
    top: 39px;
    left: 70px;
}
.val10 .suit:nth-child(7) {
    transform: rotate(180deg);
    top: 76px;
    left: 20px;
}
.val10 .suit:nth-child(8) {
    transform: rotate(180deg);
    top: 76px;
    left: 70px;
}
.val10 .suit:nth-child(9) {
    transform: rotate(180deg);
    top: 94px;
    left: 44px;
}
.val10 .suit:nth-child(10) {
    transform: rotate(180deg);
    top: 112px;
    left: 20px;
}
.val10 .suit:nth-child(11) {
    transform: rotate(180deg);
    top: 112px;
    left: 70px;
}
.card,
.face,
.back,
.deck { border-radius: 4px }
.card {
    width: 110px;
    height: 150px;
    display: inline-block;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.back,
.deck {
background-color: #6d695c;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
}
.card .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all .4s ease-in-out;
}
.card.flip .back {
    z-index: 900;
    border-color: #eee;
    transform: rotateY(180deg);
}
.card .face {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #fff;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all .4s ease-in-out;
}
.card.flip .face {
    z-index: 1000;
    background: #fff;
    transform: rotateX(0deg) rotateY(0deg);
}