/***************************navbar baslangici*****************************/

li,
a,
button {
  text-decoration: none !important;
}

.top {

  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 5%;
  align-items: center;
  height: 70px;
  font-family: "Poppins", sans-serif;
  background: url("../background/bg.jpg");
  z-index: 10;

}


.top-nav ul {
  padding-top: 20px;
  list-style: none;
}

.top-nav ul li {
  display: inline-block;
  padding: 0px 20px;
}


.top-nav a {
  display: block;
  transition: all 0.5s ease;
  color: rgb(240, 240, 240);
  cursor: pointer;
}

.mor a:hover {
  color: rgb(133, 0, 133);
}

.pembe a:hover {
  color: rgb(223, 99, 120);
}

.yesil a:hover {
  color: green;
}

.sari a:hover {
  color:yellow;
}

.menu-toggle {
  display: none;
}

.giris {

  text-align: center;
  justify-content: center;
  align-items: center;
}

.giris ul {
  padding-top: 20px;
  list-style: none;

}

.giris ul li {
  display: inline-block;
  padding: 0px 20px;
}

.giris a button {
  color: rgb(8, 8, 8);
}

.giris1 {
  display: none;
}

.glow-on-hover {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(240, 240, 240);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(240, 240, 240);

}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(240, 240, 240);
  left: 0;
  top: 0;
  border-radius: 10px;

}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media (max-width: 1170px) {

  .menu-toggle {
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: rgb(240, 240, 240);
    padding-left: 50px !important;
    padding-right: 10px !important;
    position: sticky right;
    top: 10px;
    z-index: 10;

  }


  .menu-toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
    transition: all 0.3s ease;
  }

  .menu-toggle.active:before {
    content: "\f00d";
    font-family: fontAwesome;
    line-height: 40px;
    transition: all 0.3s ease;
  }

  .top-nav {
    display: none;
  }

  .top-nav a {
    color: rgb(240, 240, 240);
  }

  .top-nav.active {
    justify-content: center;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    top: 0px;
    right: 0px;
    display: block;
  }

  .top-nav.active li {

    display: block;
  }

  .top-nav.active a {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: block;
    box-sizing: border-box;
    margin: 40px 0;
  }

  .top-nav.active a:last-child {
    margin-bottom: 0px;
  }

  .top-nav ul li:nth-child(4) {
    padding-right: 20px !important;
  }

  .giris {
    display: none;
  }

  .giris1 {
    display: block;
    padding-right: 15px;

  }

  .giris1 button {
    color: black;
  }

  .giris1 ul {
    padding-top: 20px;
    list-style: none;
  }

  .giris1 ul li {
    display: inline-block;
    padding: 0px 20px;
  }
 
}

/* ***********************navbar bitimi************************/