@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Stylish&family=Yeon+Sung&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  background-color: #ececec !important;
}

li,
a,
button {
  text-decoration: none !important;
}

.top {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 5%;
  align-items: center;
  height: 70px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
 
}

.logo a {
  color: rgb(180, 59, 59);
  margin-top: 4px;
  cursor: pointer;
  font-size: 40px;
}
.logo a:hover {
  color: rgb(180, 59, 59);
}

.top-nav ul {
  padding-top: 20px;
  list-style: none;
}

.top-nav ul li {
  display: inline-block;
  padding: 0px 20px;
}


.top-nav a {
  display: block;
  transition: all 0.3s case 0s;
  color: rgb(200, 200, 200);
  cursor: pointer;
}
.top-nav button{
  color: rgb(200, 200, 200);
}
.mor a:hover {
  color: rgb(133, 0, 133);
}
.pembe a:hover {
  color: rgb(223, 99, 120);
}
.yesil a:hover {
  color: green;
}
.sari a:hover {
  color: rgb(236, 236, 88);
}

.menu-toggle {
  display: none;
}

.giris{
  
  text-align: center;
  justify-content: center;
  align-items: center;
}
.giris ul{
  padding-top: 20px;
  list-style: none;
  
}
.giris ul li {
  display: inline-block;
  padding: 0px 20px;
}
.giris  a button {
 color: rgb(75, 75, 75);
}
.giris1{
  display: none;
}
@media (max-width: 953px) {
 
  .menu-toggle {
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-left: 50px !important;
    padding-right: 10px !important;
    position: sticky right;
    top: 10px;
    z-index: 2;
    
  }
 

  .menu-toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
  }

  .menu-toggle.active:before {
    content: "\f00d";
    font-family: fontAwesome;
    line-height: 40px;
    transition: ease 2s;
  }

  .top-nav {
    display: none;
  }

  .top-nav a{
    color: rgb(200, 200, 200);
  }

  .top-nav.active {
    justify-content: center;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    display: block;
  }

  .top-nav.active li {

    display: block;
  }

  .top-nav.active a {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: block;
    box-sizing: border-box;
    margin: 40px 0;
  }
  .top-nav.active a:last-child{
    margin-bottom: 0px;
  }
  .top-nav ul li:nth-child(4){
    padding-right: 20px !important;
  }
  .giris{
    display: none;
  }
 .giris1{
    display: block;
    padding-right: 15px;

  }
  .giris1 button{
    color:black;
  }
  .giris1 ul {
    padding-top: 20px;
    list-style: none;
  }
  
  .giris1 ul li {
    display: inline-block;
    padding: 0px 20px;
  }
}



.btn{
    border-radius: 20px !important;
}
.btn:first-child{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
                                     /* ***********************navbar bitimi************************/

                                    /* ***********************footer baslangici************************/
  .kartlar{
    
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    float: left;
  }
  .bilgi{
    padding-top: 15px;
    color: lightgoldenrodyellow;
  }
  .bilgi p{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;

  }
  .bilgi h5{
    text-align: center;
    font-size: 13px;
  }
  .social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .social-icon {
    text-align: center;
    padding-left: 5px;
    display: inline;
    color: #fff;
  }

  .social-icon a,
  .social-icon .fab {
    font-size: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: lightgoldenrodyellow;
    line-height: 50px;
  }
  .social-icon .fa-instagram:hover{
    color: rgb(207, 28, 58);
    background-color: white;
    transition: ease 0.7s;

  }
  .social-icon .fa-linkedin:hover{
    color: rgb(219, 59, 179);
    background-color: white;
    transition: ease 0.7s;

  }
  .social-icon .fa-github:hover{
    color: rgba(132, 21, 206, 0.932);
    background-color: white;
    transition: ease 0.7s;
    
  }

  .resim img{
    background-color:inherit !important;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    transition: 0.6s;
    cursor: pointer;
  }
  .resim img:hover {
    transform: scale(1.2);
  }
  
  .foot{
    margin-bottom: 15px;
    position: ;
    background: rgb(79, 12, 141);
    background: linear-gradient(90deg, rgba(204, 13, 13, 0.904)21%, rgb(214, 110, 13) 56%, rgb(206, 203, 16) 100%);
    height: 300px;
    width: 100%;
    padding: 0px 10px;
    justify-content: space-between !important;
    align-items: flex-start;
    display: flex;
    
    
  }
  .copy{
    text-align: center;
    align-items: center;
    position: static;
 
    
  }
 .copy p{
   font-size: 14px;
   font-weight: 400;
   line-height: 40px;
   color: #555;
 }
 @media (max-width: 900px) {
  .foot{
    margin-bottom: 15px;
    position: relative;
    background: rgb(151, 18, 18);
    background: linear-gradient(90deg, rgb(163, 10, 10) 19%, rgb(177, 111, 13) 54%, rgb(116, 12, 12) 100%);
    height: 900px;
    width: 100%;
    padding: 0px 10px !important;
    justify-content: space-between !important;
    align-items: flex-start;
    display:inline-block;
   
    
  }
  .kartlar{
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    float: left;
  }
  
  .kartlar900{
    -ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;
  }
 }
 
                                    /* ***********************footer bitimi************************/

.yazi{
  padding: 80px 20px;
}