@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Stylish&family=Yeon+Sung&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  background-color: #ececec !important;
}

li,
a,
button {
  text-decoration: none !important;
}

.top {
  
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 5%;
  align-items: center;
  height: 70px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
  z-index: 10;
 
}

.logo a {
  color: rgb(180, 59, 59);
  margin-top: 4px;
  cursor: pointer;
  font-size: 40px;
}
.logo a:hover {
  color: rgb(180, 59, 59);
}

.top-nav ul {
  padding-top: 20px;
  list-style: none;
}

.top-nav ul li {
  display: inline-block;
  padding: 0px 20px;
}


.top-nav a {
  display: block;
  transition: all 0.3s case 0s;
  color: rgb(200, 200, 200);
  cursor: pointer;
}
.top-nav button{
  color: rgb(200, 200, 200);
}
.mor a:hover {
  color: rgb(133, 0, 133);
}
.pembe a:hover {
  color: rgb(223, 99, 120);
}
.yesil a:hover {
  color: green;
}
.sari a:hover {
  color: rgb(236, 236, 88);
}

.menu-toggle {
  display: none;
}

.giris{
  
  text-align: center;
  justify-content: center;
  align-items: center;
}
.giris ul{
  padding-top: 20px;
  list-style: none;
  
}
.giris ul li {
  display: inline-block;
  padding: 0px 20px;
}
.giris  a button {
 color: rgb(75, 75, 75);
}
.giris1{
  display: none;
}
@media (max-width: 1170px) {
 
  .menu-toggle {
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-left: 50px !important;
    padding-right: 10px !important;
    position: sticky right;
    top: 10px;
    z-index: 10;
    
  }
 

  .menu-toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
    transition:all 0.3s ease;
  }

  .menu-toggle.active:before {
    content: "\f00d";
    font-family: fontAwesome;
    line-height: 40px;
    transition:all 0.3s ease;
  }

  .top-nav {
    display: none;
  }

  .top-nav a{
    color: rgb(200, 200, 200);
  }

  .top-nav.active {
    justify-content: center;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    display: block;
  }

  .top-nav.active li {

    display: block;
  }

  .top-nav.active a {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: block;
    box-sizing: border-box;
    margin: 40px 0;
  }
  .top-nav.active a:last-child{
    margin-bottom: 0px;
  }
  .top-nav ul li:nth-child(4){
    padding-right: 20px !important;
  }
  .giris{
    display: none;
  }
 .giris1{
    display: block;
    padding-right: 15px;

  }
  .giris1 button{
    color:black;
  }
  .giris1 ul {
    padding-top: 20px;
    list-style: none;
  }
  
  .giris1 ul li {
    display: inline-block;
    padding: 0px 20px;
  }
}

.btn{
    border-radius: 20px !important;
}
.btn:first-child{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
                                     /* ***********************navbar bitimi************************/

                                    /* ***********************footer baslangici************************/
  .kartlar{
    
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    float: left;
  }
  .bilgi{
    padding-top: 15px;
    color: lightgoldenrodyellow;
  }
  .bilgi p{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;

  }
  .bilgi h5{
    text-align: center;
    font-size: 13px;
  }
  .social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .social-icon {
    text-align: center;
    padding-left: 5px;
    display: inline;
    color: #fff;
  }

  .social-icon a,
  .social-icon .fab {
    font-size: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: lightgoldenrodyellow;
    line-height: 50px;
  }
  .social-icon .fa-instagram:hover{
    color: rgb(207, 28, 58);
    background-color: white;
    transition: ease 0.7s;

  }
  .social-icon .fa-linkedin:hover{
    color: rgb(219, 59, 179);
    background-color: white;
    transition: ease 0.7s;

  }
  .social-icon .fa-github:hover{
    color: rgba(132, 21, 206, 0.932);
    background-color: white;
    transition: ease 0.7s;
    
  }

  .resim img{
    background-color:inherit !important;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    transition: 0.6s;
    cursor: pointer;
  }
  .resim img:hover {
    transform: scale(1.2);
  }
  
  
footer {

  position: static;
  height: 300px;
  width: 100%;
  background: rgb(79, 12, 141);
  background: linear-gradient(90deg, rgba(204, 13, 13, 0.904)21%, rgb(214, 110, 13) 56%, rgb(206, 203, 16) 100%);
  justify-content: space-between !important;
  align-items: flex-start;
  display: flex;

}

.foot {
  background: rgb(79, 12, 141);
  background: linear-gradient(90deg, rgba(204, 13, 13, 0.904)21%, rgb(214, 110, 13) 56%, rgb(206, 203, 16) 100%);
  justify-content: space-between !important;
  align-items: flex-start;
  display: flex;
  padding: 0px 5px;

}

.copy {
  text-align: center;
  align-items: center;
  position: relative;

}

.copy p {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #555;
}

@media (max-width: 1170px) {
  footer {

      position: static;
      height: 900px;
      width: 100%;
      background: rgb(79, 12, 141);
      background: linear-gradient(90deg, rgba(204, 13, 13, 0.904)21%, rgb(214, 110, 13) 56%, rgb(206, 203, 16) 100%);
      justify-content: space-between !important;
      align-items: flex-start;
      display: flex;


  }

  .foot {
      justify-content: space-between !important;
      align-items: flex-start;
      display: block;
      width: 100%;
  }

  .copy {
      padding-top: 900px;
  }

  .kartlar {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 300px;
      width: 200px;
      float: left;
  }

  .kartlar900 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
}

/* ***********************footer bitimi************************/



/*******************  oyun Kartları baslangici **********************/
section {
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
  
  }

.scene {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  perspective: 800px;
  
}

.card {

  position: relative;
  width: 350px;
  height: 500px;
  margin-bottom: 250px !important;
  color: white;
  cursor: pointer;
  transition: 0.75s ease-in-out;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: row;
  border-radius: 5% !important;

}

.card:hover {
  transform: rotateY(0.5turn);
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition:  0.75s ease-in-out;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  display: flex;
  flex-direction: row;
}

.card img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  border-radius: 5%;
}

.card__face--back {
  transform: rotateY(0.5turn);
}
.play{

align-items: center;
text-align: center;
}
.play p{
  font-size: 30px;
  color: black;
}
.play button{
  width: 80%;
  letter-spacing: 2px;
  font-size: 20px;
  
}
@media (max-width: 1170px) {

  .card {

      position: relative;
      width: 300px;
      height: 450px;
      margin-bottom: 175px !important;
      color: white;
      cursor: pointer;
      transition: 0.75s ease-in-out;
      transform-style: preserve-3d;
      display: flex;
      flex-direction: column;
      
      
  
  }
  .scene {
      padding-top: 100px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      perspective: 800px;
      flex-direction: column;
      
      
  }
  .card img {
      width: 300px ; 
      height: 450px ;
      object-fit: cover;
      display: flex;
      flex-direction: column;
  }
  .card__face {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition:  0.75s ease-in-out;
      -webkit-box-reflect: unset;
  }
  .card:hover {
      transform: none;
  }
  
  .card__face--back {
      transform: none;
  }
}
/*******************  oyun Kartları bitimi **********************/
