@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Stylish&family=Yeon+Sung&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 70px;
  background-color: #ececec !important;
}

li,
a,
button {
  text-decoration: none !important;
}

.top {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 10%;
  align-items: center;
  height: 70px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

.logo a {
  color: black;
  margin-top: 4px;
  cursor: pointer;
  font-size: 40px;
}
.logo a:hover {
  color: black;
}

.top-nav ul {
  padding-top: 20px;
  list-style: none;
}

.top-nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

.top-nav a {
  display: block;
  transition: all 0.3s case 0s;
  color: rgb(200, 200, 200);
  cursor: pointer;
}
.mor a:hover {
  color: rgb(133, 0, 133);
}
.pembe a:hover {
  color: rgb(223, 99, 120);
}
.yesil a:hover {
  color: green;
}
.sari a:hover {
  color: rgb(236, 236, 88);
}


/*.social {
    width: 150px;
    height: 50px;
    padding-top: 8px;

}

.social ul li {
    margin-top: 0px;
    list-style: none;
    float: left;
    margin: 5px;
    align-items: center;

}

.social ul li a button {
    border: none;
}

.social ul li a {
    display: inline-block;
    border-width: 2px;
    color: black;
    font-size: 20px;
    margin-right: 5px;

}
*/
.menu-toggle {
  display: none;
}

@media (max-width: 953px) {
  .social {
    display: none;
  }

  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-left: 50px !important;
    position: sticky right;
    top: 10px;
    z-index: 2;
  }

  .logo {
    padding-right: 50px;
  }

  .menu-toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
  }

  .menu-toggle.active:before {
    content: "\f00d";
    font-family: fontAwesome;
    line-height: 40px;
    transition: width 2s;
  }

  .top-nav {
    display: none;
  }

  .top-nav a {
    color: rgb(200, 200, 200);
  }

  .top-nav.active {
    justify-content: center;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    display: block;
  }

  .top-nav.active li {
    display: block;
  }

  .top-nav.active a {
    padding-left: 20vh;
    justify-content: center;
    flex-direction: column;
    display: block;
    box-sizing: border-box;
    margin: 100px 0;
  }
  /* footer madia baslangıcı */
  
    /* footer madia baslangıcı */
}
/*  ↑ nav bar
.top-nav.active {
        justify-content: left;
        position: fixed;
        width: 100%;
        height: 100vh;
        max-width: 200px;
        background-color: rgb(255, 255, 255);
        top: 60px;
        right: 0;
        display: block;
        box-sizing: border-box;
    }


*/
<<<<<<< HEAD
.container {
  padding-top: 75px !important;
=======

.btn{
    border-radius: 20px !important;
}
.btn:first-child{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
/* ***********************navbar bitimi************************/
.container{
    padding-top: 75px !important;
>>>>>>> 9ea199de337d6c8a6f7c076f0c37e747efe30c52
}
/* footer bar islemleri */
#footer {
    padding: 5px 0;
  }
  #footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    color: #555555;
  }
  .social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .social-icon {
    display: inline;
    padding-left: 9x;
    padding-right: 9px;
    color: #fff;
  }
  .social-icon a,
  .social-icon .fab {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #000;
    line-height: 40px;
  }
  .box {
  
    width: 150px;
    padding: 5px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    
  }
  .box img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: 0.6s;
    cursor: pointer;
  }
  .box img:hover {
    transform: scale(0.9);
  }
  .box h1 {
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: bold;
  }
  .box h5 {
    font-size: 13px;
  }
  /* footer bar islemleri bitis*/
