<!-- footer  -->
<footer>
    <div class="foot">
      {{range $index,$data:=.Developer}}
      <div class="kartlar kartlar900">
        <div class="resim"><a href="/developer/{{$data.ID}}"><img src="{{$data.Imgsrc}}" alt="" /></a></div>
        <div class="bilgi">
          <p>{{$data.Fullname}}</p>
          <h5>{{$data.Duty}}</h5>
        </div>
        <div class="sosyal">
          <ul class="social-icons">
            <li class="social-icon">
              <a href="{{$data.Inssrc}}" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="social-icon">
              <a href="{{$data.Linkın}}" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="social-icon">
              <a href="{{$data.Gitsrc}}" target="_blank"><i class="fab fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      {{end}}
    </div>
    <div class="copy rights">
      <p>&copy; Copyright Game-Box</p>
    </div>
  </footer> 
  <!-- footer End -->