 <!-- NavBar -->

 <header class="top">
    <div class="logo">
      <a href="/">
        <img src="../assets/logo/Logo.png" alt="" href="/" /></a>
    </div>

    <nav class="top-nav">
      <ul class="navlink">
        <li class="mor">
          <a href="/" >Ana Sayfa</a>
        </li>
        <li class="pembe"><a href="/game/snake">Oyunlar</a></li>
        <li class="yesil"><a href="/account/dashboard">Leaderboards</a></li>
        <li class="sari"><a href="/developers">Hakkımızda</a></li>
        <ul class="giris1">
          {{ if .Bool }}
          <li>
            <a href="/account/developer"><button type="button" class="glow-on-hover">Account</button></a>
          </li>
          <li>
            <a href="/logout"><button type="button" class="glow-on-hover">Logout</button></a>
          </li>
          {{ else }}
          <li>
            <a href="/login"><button type="button" class="glow-on-hover">Log-in</button></a>
          </li>
          <li>
            <a href="/signup"><button type="button" class="glow-on-hover">Sign-up</button></a>
          </li>
          {{ end }}
        </ul>
      </ul>
    </nav>
    <div class="giris">
      <ul>
        {{ if .Bool }}
        <li>
          <a href="/account/developer"><button type="button" class="glow-on-hover">Account</button></a>
        </li>
        <li>
          <a href="/logout"><button type="button" class="glow-on-hover">Logout</button></a>
        </li>
        {{ else }}
        <li>
          <a href="/login"><button type="button" class="glow-on-hover">Log-in</button></a>
        </li>
        <li>
          <a href="/signup"><button type="button" class="glow-on-hover">Sign-up</button></a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="menu-toggle"></div>
  </header>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".menu-toggle").click(function () {
        $(".menu-toggle").toggleClass("active");
        $(".top-nav").toggleClass("active");
        $(".giris1").toggleClass("active");
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
  <!-- NavBar End-->