 <!-- NavBar -->

 <header class="top">
    <div class="logo">
      <a href="/index">
        <img src="../assets/logo/Logo.png" alt="" /></a>
    </div>

    <nav class="top-nav">
      <ul class="navlink">
        <li class="mor">
          <a href="/" style="color: rgb(133, 0, 133)">Ana Sayfa</a>
        </li>
        <li class="pembe"><a href="demo.html">Oyunlar</a></li>
        <li class="yesil"><a href="dashboard.html">Leaderboards</a></li>
        <li class="sari"><a href="hakkımızda.html">Hakkımızda</a></li>
        <ul class="giris1">
          {{ if .Bool }}
          <li>
            <a href="/developer"><button type="button" class="glow-on-hover">Account</button></a>
          </li>
          <li>
            <a href="/logout"><button type="button" class="glow-on-hover">Logout</button></a>
          </li>
          {{ else }}
          <li>
            <a href="/login"><button type="button" class="glow-on-hover">Log-in</button></a>
          </li>
          <li>
            <a href="/signup"><button type="button" class="glow-on-hover">Sign-up</button></a>
          </li>
          {{ end }}
        </ul>
      </ul>
    </nav>
    <div class="giris">
      <ul>
        {{ if .Bool }}
        <li>
          <a href="/developer"><button type="button" class="glow-on-hover">Account</button></a>
        </li>
        <li>
          <a href="/logout"><button type="button" class="glow-on-hover">Logout</button></a>
        </li>
        {{ else }}
        <li>
          <a href="/login"><button type="button" class="glow-on-hover">Log-in</button></a>
        </li>
        <li>
          <a href="/signup"><button type="button" class="glow-on-hover">Sign-up</button></a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="menu-toggle"></div>
  </header>

  <!-- NavBar End-->